@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Stephen Covey 7 Habits of Highly Effective People Task Manager</h1>
    <p>Helping you keep track of your day to day tasks like none other</p><br />
    <p> Below is a picture of the 4 quadrants that Covey recommends listing your tasks in. Our system will allow you to add, edit and delete tasks from these 4 quadrants right on the site. To view your tasks, merely click on the view tasks page at the top. Thanks so much for using this site, now start traking!</p>
    <img src="~/img/quadrants view.jpg" />
</div>



