@{
    ViewData["Title"] = "View Tasks";
}

@model List<Tasks>


<table class="table table-bordered table-striped">
    <thead>
        <tr class="row">
            <td class="col"> </td>
            <td class="col">Urgent</td>
            <td class="col">Not Urgent</td>
        </tr>
        <tr class="row">
            <td class="col">Important</td>
            <td class="col">Quadrant I
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold col">
                        <tr class="row">
                            <td class="col">Task Name</td>
                        </tr>

                    </thead>

                    @*populates the table rows (body) with data from the database*@
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.TaskName</td>

                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>
                            </tr>
                        }
                    </tbody>

                </table></td>
            <td class="col">Quadrant II</td>
        </tr>
        <tr class="row">
            <td class="col">Not important</td>
            <td class="col">Quadrant III</td>
            <td class="col">Quadrant IV</td>
        </tr>
    </thead>
</table>
